<main>
    <form>
        <h2 class="signinTitle">Enter with your account</h2>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="Ex. pat@example.com">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="Password">
        </mat-form-field>
        <div class="aligned-to-right">
            <button mat-button>Recover password</button>
        </div>
        <button mat-fab extended color="primary">LOGIN</button>
        <button mat-fab extended>Register</button>
    </form>
</main>