main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;

    .theme-buttons{
        display:inline-block;
    }

    .orangeTheme {
        background-color: orange;
    }

    .blackTheme {
        background-color: black;
    }

    .greenTheme {
        background-color: green;
    }

    .orange-background-theme {
        .theme-background-color-1 {
            background-color: orange;
        }

        .signinTitle {
            color: orange;
        }

        button {
            &[theme-text-color] {
                color: orange;
            }
        }
    }

    .black-background-theme {
        .theme-background-color-1 {
            background-color: black;
        }

        .signinTitle {
            color: black;
        }

        button {
            &[theme-text-color] {
                color: black;
            }
        }
    }

    .green-background-theme {
        .theme-background-color-1 {
            background-color: green;
        }

        .signinTitle {
            color: green;
        }

        button {
            &[theme-text-color] {
                color: green;
            }

        }
    }

    form {
        
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        

        .white-background {
            background-color: aliceblue;
        }

        .signinTitle {
            font-family: "Montserrat", sans-serif;
            font-weight: 800;
            text-transform: uppercase;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: white;
        }



        button {
            margin: 5px 0;
            

            &[mat-button] {
                width: auto;
            }
        }

        button,
        mat-form-field {
            width: -webkit-fill-available;
        }

        .aligned-to-right {
            text-align: right;
            width: 100%;
        }
    }


}