body {
    background-image: url("./assets/RoCPicture.jpg");
    height:auto;
    width: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top:0px;
    left:0px;  
}